* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.Heading {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: bolder;
}

.sudoku_grid {
  display: flex;
  flex-direction: row;
  max-width: 578px;
  flex-wrap: wrap;

  margin: 10px auto;
}

.sudoku_grid div {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 60px;
  height: 60px;
  color: white;
  font-size: 40px;

  box-sizing: border-box;
}

.Buttons {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 20px;
}

#GetPuzzle,
#SolvePuzzle {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-weight: normal;
  background-color: #90c8ac;
  padding: 0.5rem 1rem;
  font-size: 22px;
  border: 1px solid #90c8ac;
  border-radius: 0.4rem;
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3);
  margin-right: 10px;
  transition: 0.1s;
}
#GetPuzzle:hover,
#SolvePuzzle:hover {
  background-color: #c4dfaa;
  border: 1px solid#c4dfaa;
}
.box1 {
  background-color: #495c83;
  border: 2px solid white;
  transition: 0.3s;
}

.box1:hover {
  background-color: #7a86b6;
  color: black;
}

.box2 {
  background-color: #ccd6a6;
  border: 2px solid white;
  transition: 0.3s;
}
.box2:hover {
  background-color: #dae2b6;
  color: black;
}

.box3 {
  background-color: #94b49f;
  border: 2px solid white;
  transition: 0.3s;
}
.box3:hover {
  background-color: #cee5d0;
  color: black;
}

.bl {
  border-left: 2px solid black;
}

.bb {
  border-bottom: 2px solid black;
}

.br {
  border-right: 2px solid black;
}

.bt {
  border-top: 2px solid black;
}
